/************************************************
 * TABLE OF CONTENTS
 * ------------------
 * 1. LAYOUT STYLES
 * 2. HEADER, SEARCH BAR, LOGO
 * 3. MAIN NAVIGATION
 * 4. BANNER SECTION
 * 5. MAIN SECTION
 * 6. FOOD CATEGORY
 * 7. SIDEBAR
 * 8. FOOTER
 * 9. ADMIN MODULE
 ***********************************************/


/*1. LAYOUT STYLES*/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #ed1c24;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  box-sizing: border-box;

}

img {
  width: 100%;
  height: auto;
}

a {
  color: #ed1c24;
  text-decoration: none;
}
.nav-pills .nav-link.active
{
  background-color: #dc3545;
}
.page-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.hidden {
  position: absolute;
  left: -100000px;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

/*2.HEADER, SEARCH BAR, LOGO */

#header {
  border-bottom: 5px solid #ed1c24;
  padding: 0.3em 0;
  background-color: #ffffff;
}

#site-info, #search-and-nav {
  flex: 50%;
}

#logo-container {
  max-width: 50%;
  margin-left: 1em;
}

#search-form {
  flex: 100%;
  text-align: right;
}

#search-bar {
  width: 50%;
  height: 30px;
  border-radius: 5px;
}

#submit-button{
  background-color: #ed1c24;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: 1em;
}

#submit-button:hover{
  background-color: #ffffff;
  color: #ed1c24;
  border: 1px solid #ed1c24;
}

.sticky{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /*background-color: #ffffff;*/
  background: rgba(243,243,243, 0.95);
  z-index: 10;
  padding: 0 5em 1em 0;
}

/*3.MAIN NAVIGATION*/

#main-nav {
  flex: 100%;
  text-align: right;
}

#main-nav li {
  display: inline-block;
  margin-left: 1em;
  font-size: 20px;
}

#main-nav a:hover {
  text-decoration: underline;
  color: #ed1c24;
}

/*4.BANNER SECTION*/
#banner{
  margin-bottom: 3em;
}
#banner-image{
 max-width: 100%;
  height: auto;
}

.banner-content{
  font-family: Georgia;
  font-style: italic;
  font-size:calc(3vw + 3vh + 2vmin);
  position:absolute;
  left: 25vw;
  margin: 1.4em 0;
  text-shadow: 1.5px 1.5px 1px #656565;
}


/*5.MAIN SECTION*/

#main {
  margin: 0 0 5em 0;
}

#main a {
  color: #000000;
}

#main a:hover {
  /*font-weight: bold;*/
  background: #f3f3f3;
}

/*6.FOOD CATEGORY*/

.food-category {
  flex: 23%;
  margin: 1em 1%;
  padding: 1em;
  border-radius: 25px;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.category-image {
  border-radius: 25px;
  margin-bottom: 1em;
}

.category-name {
  text-align: center;
  text-transform: uppercase;
}

#categories {
  flex: 83%;
  margin-right: 2%;
  margin-top: 2em;
}

/*7.SIDEBAR*/

#sidebar {
  flex: 15%;
  margin-top: 2em;
}

#sidebar-nav {
  list-style: none;
  padding: 0;
}

#sidebar-nav li {
  font-family: Georgia;
  font-style: italic;
  color: #ed1c24;
  padding: 1em;
  border: 1px solid #ed1c24;
  border-radius: 10px;
  margin: 1em 0;
}

#sidebar-nav li:hover {
  background-color: #ed1c24;
  font-weight: normal;
  color: #ffffff;
}
#sidebar-nav a:hover{
   text-decoration: none;
}

/*8.FOOTER*/

#footer {
  background-color: #f3f3f3;
  border-top: 1px solid  #ed1c24;
  padding: 2em;
}

.icon-container {
  max-width: 30px;
  display: inline-block;
  margin-right: 1em;
}

#footer .icon-container:hover {
  max-width: 35px;
}

.social-media-text{
  margin-bottom: 1em;
}

#social-media-icons {
  flex: 50%;
}

#copyright-info {
  flex: 50%;
  text-align: right;
}

/*********Meal Plan******************/
.table-container {
  overflow-x: auto;
}

#month-select {
  width: 50%;
  margin-bottom: 1em;
}

#meal-plan-cal, .ingredients {
  border-spacing: 0;
  overflow-x: auto;
}

#meal-plan-cal th,#meal-plan-cal td {
  border: 1px solid #000;
}

#meal-plan-cal th {
  text-align: center;
}

#meal-plan-cal td {
  padding: 1em 1em 3em 8em;
  text-align: right;
}

.planDay {
  background: lightyellow;
  cursor: pointer;
}

.ingredients th,#meal-plan-cal td {
  border: 1px solid #000;
  padding: 1em 1em;
}

.plan-category {
  font-weight: bold;
  font-size: 1.5em;
}

#plan-info a {
  color: darkblue;
}

/*********Shopping List*******************/

#recipe-suggestions {
  margin: 1em 0;
}

.search-results {
  border: 1px solid #000;
  padding: 1em;
  cursor: pointer;
}

.search-results div:first-child {
  font-weight: bold;
}

/*********Request Recipe******************/
.banner-content-request{
  font-family: Georgia;
  font-style: italic;
  font-size:calc(3vw + 3vh + 2vmin);
  color: #ed1c24;
  position:absolute;
  left: 35vw;
  top: 35vh;
  /*text-align: center;
  left: 50%;
  margin-left: -60px;
  top: 40%;
  margin-top: -60px;*/
  text-shadow: 1.5px 1.5px 1px #656565;
  width: auto;
}

#request-tbl table {
  color: #000000;
  border-collapse: collapse;
}

#request-tbl th,
#request-tbl td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #dddddd;
  border-top: none; border-left: none; border-right: none;
}
#request-tbl th{
  color: #ed1c24;
}
/*#addRequest{
left: 30vw;
}*/
#addReq{
  margin: 0 0 2vw 4vw;
}


/*********Admin Module******************/
#login{
  text-align: center;
  padding: 5em;
  margin: 5em 0px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*Image Uploader */
input[type=file]{
  display: inline;
}
#image_preview{
  border: 1px dashed gray;
  padding: 10px;
}
#image_preview img{
  width: 200px;
  padding: 5px;
}
.modal-dialog{
  max-width: 1200px;
}
.float-clear{clear:both;}
.float-left{float:left;}
#outer {margin: 0 auto;width: 50%;border-top: #333 2px solid;background-color: #FFFFFF;}
.product-item input[type="text"] {padding: 5px;border:#ccc 1px solid;border-radius:4px;margin: 0px 10px;}
.product-item input[type="checkbox"] {margin: 10px;}
.col-heading{width:150px;font-size:16px;font-weight:bold;}
.footer{padding:10px; background:#333;margin-top:20px;}
.btn-action{padding:10px;}
.btn-action input[type="button"]{padding:5px; border:#CCCCCC 1px solid; border-radius: 4px;}
input[type="submit"]{padding:5px 20px; border:#000000 1px solid; border-radius: 4px; background-color:#09f;color:#fff;}
.success{color:#66CC00;padding: 5px; font-weight:bold;}


/*********** Register User ************/

#register{
  text-align: center;
  padding: 3em;
  margin: 3em 0px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*********** Update Profile ************/

#profile-general{
	display:block;
  }
  
#profile-password{
	display:none;
  }
/******* Favorite Recipe **************/
  .makefavouriteRecipe {
        width: 2.5em;
        height: auto;
        position: relative;
        display: inline-block;
		float: right;
		margin-top: 0.5em
    }
    .makefavouriteRecipe .img-top {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
    }
    .makefavouriteRecipe:hover .img-top {
        display: inline;
		cursor:pointer;
    }
	/*if already favourite Recipe*/
  .favouriteRecipe {
        width: 2.5em;
        height: auto;
        position: relative;
        display: inline-block;
		float: right;
		margin-top: 0.5em
    }
    .favouriteRecipe .img-top {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
    }
    .favouriteRecipe:hover .img-top {
        display: inline;
		cursor:pointer;
    }	
	
/***** Contact Author *****/
#modelContact{
		width: 50em;
	}

	
/* Auto Suggest */
.container{
    max-width: 500px;
    border-radius: 5px;
    background: #FFF;
    border: 1px solid #CCC;
    min-height: 400px;
    margin-top: 50px;
}
.country{
    margin-bottom: 5px;
}
.country img{
    float: left;
    position: relative;
    top: 7px;
    margin-right: 10px;
}
.country .name{
    font-weight: bold;
    color: #333;
}
.country .prop{
    float: left;
    width: 50%;
}
.country .prop .lbl{
    font-size: 11px;
    line-height: 11px;
    float: left;
    color: #AAA;
    margin-left: 25px;
    margin-right: 5px;
}
.country .prop .val{
    font-size: 11px;
    line-height: 11px;
    color: #666;
}

.ms-sel-item img{
    float: left;
    position: relative;
    top: 3px;
    margin-right: 3px;
}
.ms-sel-item .name{
    float: left;
}

.ms-ctn{
    position: relative;
    padding: 5px 12px;
    height: auto;
}
.ms-inv{
    border: 1px solid #CC0000;
}
.ms-ctn-readonly{
    cursor: pointer;
}
.ms-ctn-disabled{
    cursor: not-allowed;
    background-color: #eeeeee;
}
.ms-ctn-bootstrap-focus,
.ms-ctn-bootstrap-focus .ms-res-ctn{
    border-color: rgba(82, 168, 236, 0.8) !important;
    /* IE6-9 */
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.ms-ctn-focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.ms-ctn input{
    border: 0;
    box-shadow: none;
    -webkit-transition: none;
    outline: none;
    display: block;
    padding: 0;
    line-height: 1.42857143;
    margin: 1px 0;
    width: 100%;
}
.ms-ctn .ms-sel-ctn input{
    float: left;
}
.ms-ctn-disabled input{
    cursor: not-allowed;
    background-color: #eeeeee;
}
.ms-ctn .ms-input-readonly{
    cursor: pointer;
}
.ms-ctn .ms-empty-text{
    color: #DDD;
}
.ms-ctn input:focus{
    border: 0;
    box-shadow: none;
    -webkit-transition: none;
    background: #FFF;
}
.ms-ctn input::-ms-clear {
    width: 0;
    height: 0;
}
.ms-ctn .ms-trigger{
    top: 0;
    width: 25px;
    height:100%;
    position:absolute;
    right:0;
    background: transparent;
    border-left: 1px solid #CCC;
    cursor: pointer;
}
.ms-ctn .ms-trigger .ms-trigger-ico {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 4px solid #333;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
    margin-left: 8px;
    margin-top: 15px;
}
.ms-ctn .ms-trigger:hover{
    background-color: #e6e6e6;
}
.ms-ctn .ms-trigger:hover .ms-trigger-ico{
    background-position: 0 -4px;
}
.ms-ctn-disabled .ms-trigger{
    cursor: not-allowed;
    background-color: #eeeeee;
}
.ms-ctn-bootstrap-focus{
    border-bottom: 1px solid #CCC;
}
.ms-res-ctn{
    width: 100%;
    display: block;
    overflow-y: auto;
}
.ms-res-ctn .ms-res-group{
    line-height: 23px;
    text-align: left;
    padding: 2px 5px;
    font-weight: bold;
    border-bottom: 1px dotted #CCC;
    border-top: 1px solid #CCC;
    background: #f3edff;
    color: #333;
}
.ms-res-ctn .ms-res-item{
    line-height: 25px;
    text-align: left;
    padding: 2px 5px;
    color: #666;
    cursor: pointer;
}
.ms-res-ctn .ms-res-item-grouped{
    padding-left: 15px;
}
.ms-res-ctn .ms-res-odd{
    background: #FAFAFA;
}
.ms-res-ctn .ms-res-item-active{
    background-color: #F5F5F5;
}
.ms-res-ctn .ms-res-item-disabled{
    color: #CCC;
    cursor: default;
}
.ms-sel-ctn{
    overflow: auto;
    line-height: 18px;
    padding-right: 25px;
}
.ms-no-trigger .ms-sel-ctn{
    padding-right: 0;
}
/** Outer and global tags **/
.ms-sel-ctn .ms-sel-item{
    background: #F3F3F3;
    color: #999;
    float: left;
    font-size: 12px;
    padding: 3px 5px;
    border-radius: 3px;
    border: 1px solid #DDD;
    margin: 3px 0px 1px 0;
}
.ms-sel-ctn .ms-sel-invalid{
    border-color: rgb(248, 165, 165) !important;
    background: #FDF2F2 !important;
}
.ms-sel-ctn .ms-sel-item:hover{
    border: 1px solid #BBB;
}
/** For inner tags **/
.ms-ctn .ms-sel-item{
    background: #F3F3F3;
    color: #999;
    float: left;
    font-size: 12px;
    padding: 0 5px;
    border-radius: 3px;
    border: 1px solid #DDD;
    margin: 1px 5px 1px 0;
}
.ms-ctn .ms-sel-item:hover{
    border: 1px solid transparent;
}
.ms-ctn-focus .ms-sel-item:hover{
    border: 1px solid #BBB;
}
.ms-sel-ctn .ms-sel-text{
    background: #FFF;
    color: #666;
    padding-right: 0;
    margin-left: 0;
    font-size: 14px;
    font-weight: normal;
}
.ms-as-string .ms-sel-text{
    border-color: transparent;
}
.ms-res-ctn .ms-res-item em{
    font-style: normal;
    background: #565656;
    color: #FFF;
}
.ms-sel-ctn .ms-sel-text:hover{
    background: #FFF;
}
.ms-sel-ctn .ms-sel-item-active{
    border: 1px solid red;
    background: #757575;
}
.ms-stacked .ms-sel-item{
    float: inherit;
}
.ms-sel-ctn .ms-sel-item .ms-close-btn{
    width: 7px;
    cursor: pointer;
    height: 7px;
    float: right;
    margin: 6px 2px 0 10px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAOCAYAAADjXQYbAAAACXBIWXMAAAsTAAALEwEAmpwYAAAKT2lDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVNnVFPpFj333vRCS4iAlEtvUhUIIFJCi4AUkSYqIQkQSoghodkVUcERRUUEG8igiAOOjoCMFVEsDIoK2AfkIaKOg6OIisr74Xuja9a89+bN/rXXPues852zzwfACAyWSDNRNYAMqUIeEeCDx8TG4eQuQIEKJHAAEAizZCFz/SMBAPh+PDwrIsAHvgABeNMLCADATZvAMByH/w/qQplcAYCEAcB0kThLCIAUAEB6jkKmAEBGAYCdmCZTAKAEAGDLY2LjAFAtAGAnf+bTAICd+Jl7AQBblCEVAaCRACATZYhEAGg7AKzPVopFAFgwABRmS8Q5ANgtADBJV2ZIALC3AMDOEAuyAAgMADBRiIUpAAR7AGDIIyN4AISZABRG8lc88SuuEOcqAAB4mbI8uSQ5RYFbCC1xB1dXLh4ozkkXKxQ2YQJhmkAuwnmZGTKBNA/g88wAAKCRFRHgg/P9eM4Ors7ONo62Dl8t6r8G/yJiYuP+5c+rcEAAAOF0ftH+LC+zGoA7BoBt/qIl7gRoXgugdfeLZrIPQLUAoOnaV/Nw+H48PEWhkLnZ2eXk5NhKxEJbYcpXff5nwl/AV/1s+X48/Pf14L7iJIEyXYFHBPjgwsz0TKUcz5IJhGLc5o9H/LcL//wd0yLESWK5WCoU41EScY5EmozzMqUiiUKSKcUl0v9k4t8s+wM+3zUAsGo+AXuRLahdYwP2SycQWHTA4vcAAPK7b8HUKAgDgGiD4c93/+8//UegJQCAZkmScQAAXkQkLlTKsz/HCAAARKCBKrBBG/TBGCzABhzBBdzBC/xgNoRCJMTCQhBCCmSAHHJgKayCQiiGzbAdKmAv1EAdNMBRaIaTcA4uwlW4Dj1wD/phCJ7BKLyBCQRByAgTYSHaiAFiilgjjggXmYX4IcFIBBKLJCDJiBRRIkuRNUgxUopUIFVIHfI9cgI5h1xGupE7yAAygvyGvEcxlIGyUT3UDLVDuag3GoRGogvQZHQxmo8WoJvQcrQaPYw2oefQq2gP2o8+Q8cwwOgYBzPEbDAuxsNCsTgsCZNjy7EirAyrxhqwVqwDu4n1Y8+xdwQSgUXACTYEd0IgYR5BSFhMWE7YSKggHCQ0EdoJNwkDhFHCJyKTqEu0JroR+cQYYjIxh1hILCPWEo8TLxB7iEPENyQSiUMyJ7mQAkmxpFTSEtJG0m5SI+ksqZs0SBojk8naZGuyBzmULCAryIXkneTD5DPkG+Qh8lsKnWJAcaT4U+IoUspqShnlEOU05QZlmDJBVaOaUt2ooVQRNY9aQq2htlKvUYeoEzR1mjnNgxZJS6WtopXTGmgXaPdpr+h0uhHdlR5Ol9BX0svpR+iX6AP0dwwNhhWDx4hnKBmbGAcYZxl3GK+YTKYZ04sZx1QwNzHrmOeZD5lvVVgqtip8FZHKCpVKlSaVGyovVKmqpqreqgtV81XLVI+pXlN9rkZVM1PjqQnUlqtVqp1Q61MbU2epO6iHqmeob1Q/pH5Z/YkGWcNMw09DpFGgsV/jvMYgC2MZs3gsIWsNq4Z1gTXEJrHN2Xx2KruY/R27iz2qqaE5QzNKM1ezUvOUZj8H45hx+Jx0TgnnKKeX836K3hTvKeIpG6Y0TLkxZVxrqpaXllirSKtRq0frvTau7aedpr1Fu1n7gQ5Bx0onXCdHZ4/OBZ3nU9lT3acKpxZNPTr1ri6qa6UbobtEd79up+6Ynr5egJ5Mb6feeb3n+hx9L/1U/W36p/VHDFgGswwkBtsMzhg8xTVxbzwdL8fb8VFDXcNAQ6VhlWGX4YSRudE8o9VGjUYPjGnGXOMk423GbcajJgYmISZLTepN7ppSTbmmKaY7TDtMx83MzaLN1pk1mz0x1zLnm+eb15vft2BaeFostqi2uGVJsuRaplnutrxuhVo5WaVYVVpds0atna0l1rutu6cRp7lOk06rntZnw7Dxtsm2qbcZsOXYBtuutm22fWFnYhdnt8Wuw+6TvZN9un2N/T0HDYfZDqsdWh1+c7RyFDpWOt6azpzuP33F9JbpL2dYzxDP2DPjthPLKcRpnVOb00dnF2e5c4PziIuJS4LLLpc+Lpsbxt3IveRKdPVxXeF60vWdm7Obwu2o26/uNu5p7ofcn8w0nymeWTNz0MPIQ+BR5dE/C5+VMGvfrH5PQ0+BZ7XnIy9jL5FXrdewt6V3qvdh7xc+9j5yn+M+4zw33jLeWV/MN8C3yLfLT8Nvnl+F30N/I/9k/3r/0QCngCUBZwOJgUGBWwL7+Hp8Ib+OPzrbZfay2e1BjKC5QRVBj4KtguXBrSFoyOyQrSH355jOkc5pDoVQfujW0Adh5mGLw34MJ4WHhVeGP45wiFga0TGXNXfR3ENz30T6RJZE3ptnMU85ry1KNSo+qi5qPNo3ujS6P8YuZlnM1VidWElsSxw5LiquNm5svt/87fOH4p3iC+N7F5gvyF1weaHOwvSFpxapLhIsOpZATIhOOJTwQRAqqBaMJfITdyWOCnnCHcJnIi/RNtGI2ENcKh5O8kgqTXqS7JG8NXkkxTOlLOW5hCepkLxMDUzdmzqeFpp2IG0yPTq9MYOSkZBxQqohTZO2Z+pn5mZ2y6xlhbL+xW6Lty8elQfJa7OQrAVZLQq2QqboVFoo1yoHsmdlV2a/zYnKOZarnivN7cyzytuQN5zvn//tEsIS4ZK2pYZLVy0dWOa9rGo5sjxxedsK4xUFK4ZWBqw8uIq2Km3VT6vtV5eufr0mek1rgV7ByoLBtQFr6wtVCuWFfevc1+1dT1gvWd+1YfqGnRs+FYmKrhTbF5cVf9go3HjlG4dvyr+Z3JS0qavEuWTPZtJm6ebeLZ5bDpaql+aXDm4N2dq0Dd9WtO319kXbL5fNKNu7g7ZDuaO/PLi8ZafJzs07P1SkVPRU+lQ27tLdtWHX+G7R7ht7vPY07NXbW7z3/T7JvttVAVVN1WbVZftJ+7P3P66Jqun4lvttXa1ObXHtxwPSA/0HIw6217nU1R3SPVRSj9Yr60cOxx++/p3vdy0NNg1VjZzG4iNwRHnk6fcJ3/ceDTradox7rOEH0x92HWcdL2pCmvKaRptTmvtbYlu6T8w+0dbq3nr8R9sfD5w0PFl5SvNUyWna6YLTk2fyz4ydlZ19fi753GDborZ752PO32oPb++6EHTh0kX/i+c7vDvOXPK4dPKy2+UTV7hXmq86X23qdOo8/pPTT8e7nLuarrlca7nuer21e2b36RueN87d9L158Rb/1tWeOT3dvfN6b/fF9/XfFt1+cif9zsu72Xcn7q28T7xf9EDtQdlD3YfVP1v+3Njv3H9qwHeg89HcR/cGhYPP/pH1jw9DBY+Zj8uGDYbrnjg+OTniP3L96fynQ89kzyaeF/6i/suuFxYvfvjV69fO0ZjRoZfyl5O/bXyl/erA6xmv28bCxh6+yXgzMV70VvvtwXfcdx3vo98PT+R8IH8o/2j5sfVT0Kf7kxmTk/8EA5jz/GMzLdsAAAAEZ0FNQQAAsY58+1GTAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABSSURBVHjahI7BCQAwCAOTzpThHMHh3Kl9CVos9XckFwQAuPtGuWTWwMwaczKzyHsqg6+5JqMJr28BABHRwmTWQFJjTmYWOU1L4tdck9GE17dnALGAS+kAR/u2AAAAAElFTkSuQmCC);
    background-position: 0 -7px;
}
.ms-sel-ctn .ms-sel-item .ms-close-btn:hover{
    background-position: 0 0;
}
.ms-stacked .ms-sel-item .ms-close-btn {
    margin-left: 0px;
}
.ms-helper{
    color: #AAA;
    font-size: 10px;
    position: absolute;
    top: -17px;
    right: 0;
}
.ms-ctn.input-lg .ms-trigger .ms-trigger-ico {
    margin-top: 17px
}
.ms-ctn.input-sm .ms-trigger .ms-trigger-ico {
    margin-top: 13px
}
.ms-ctn.input-lg .ms-sel-ctn .ms-sel-item {
    padding-top: 2px;
    padding-bottom: 3px;
}
.ms-ctn.input-sm .ms-sel-ctn {
    line-height: 15px;
}
.ms-ctn.input-sm .ms-sel-ctn .ms-sel-item {
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top:0;
    margin-bottom: 0;
}
.ms-ctn.input-sm .ms-sel-ctn .ms-sel-item .ms-close-btn {
    margin-top: 4px;
}
.ms-ctn .ms-sel-ctn {
    margin-left: -7px;
}
.ms-ctn .ms-trigger:hover {
    width:24px;
    right: 1px;
    border-radius: 0 3px 3px 0;
}
/****************************** Recipe ******************************/
.recipe{
  width:100%;
  height:200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; 
  color:#FFF;
  text-decoration: none;
}
.recipeOuter{
  background-color: black;
  width:100%;
  height:100%;
  opacity:0;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
.recipeOuter:hover{
  opacity:.7;
  font-size:1.4em; 
  padding: .2em; 
  text-align: justify;
  text-decoration: none;
}
.h3{
  color:red;
  font-size:1.2em;
}
.h2{
  color:red;
  font-size: 2em;
}
.secondaryImage{
  cursor: pointer;
}
.star{
  float:left;
  height:1rem;
  width:1rem;
  background-size:contain;
}
.ratingAndComments{
  padding:1em;
  border-bottom: 1px solid #ddd;
}
.commentBlock{
  font-style: italic;
  text-align: justify;
}
.commentBlock::before { 
  content: '"';
}
.commentBlock::after { 
  content: '"';
}
