/************************************************
 * TABLE OF CONTENTS
 * ------------------
 * 1. LAYOUT STYLES
 * 2. HEADER, SEARCH BAR, LOGO
 * 3. MAIN NAVIGATION
 * 4. BANNER SECTION
 * 5. MAIN SECTION
 * 6. FOOD CATEGORY
 * 7. SIDEBAR
 * 8. FOOTER
 * 9. ADMIN MODULE
 ***********************************************/


/*1. LAYOUT STYLES*/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #ed1c24;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  box-sizing: border-box;

}

img {
  width: 100%;
  height: auto;
}

a {
  color: #ed1c24;
  text-decoration: none;
}
.nav-pills .nav-link.active
{
  background-color: #dc3545;
}
.page-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.hidden {
  position: absolute;
  left: -100000px;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

/*2.HEADER, SEARCH BAR, LOGO */

#header {
  border-bottom: 5px solid #ed1c24;
  padding: 0.3em 0;
  background-color: #ffffff;
}

#site-info, #search-and-nav {
  flex: 50%;
}

#logo-container {
  max-width: 50%;
  margin-left: 1em;
}

#search-form {
  flex: 100%;
  text-align: right;
}

#search-bar {
  width: 50%;
  height: 30px;
  border-radius: 5px;
}

#submit-button{
  background-color: #ed1c24;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: 1em;
}

#submit-button:hover{
  background-color: #ffffff;
  color: #ed1c24;
  border: 1px solid #ed1c24;
}

.sticky{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /*background-color: #ffffff;*/
  background: rgba(243,243,243, 0.95);
  z-index: 10;
  padding: 0 5em 1em 0;
}

/*3.MAIN NAVIGATION*/

#main-nav {
  flex: 100%;
  text-align: right;
}

#main-nav li {
  display: inline-block;
  margin-left: 1em;
  font-size: 20px;
}

#main-nav a:hover {
  text-decoration: underline;
  color: #ed1c24;
}

/*4.BANNER SECTION*/
#banner{
  margin-bottom: 3em;
}
#banner-image{
 max-width: 100%;
  height: auto;
}

.banner-content{
  font-family: Georgia;
  font-style: italic;
  font-size:calc(3vw + 3vh + 2vmin);
  position:absolute;
  left: 5em;
  margin: 1.4em 0;
  text-shadow: 1.5px 1.5px 1px #656565;
}


/*5.MAIN SECTION*/

#main {
  margin: 0 0 5em 0;
}

#main a {
  color: #000000;
}

#main a:hover {
  /*font-weight: bold;*/
  background: #f3f3f3;
}

/*6.FOOD CATEGORY*/

.food-category {
  flex: 23%;
  margin: 1em 1%;
  padding: 1em;
  border-radius: 25px;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.category-image {
  border-radius: 25px;
  margin-bottom: 1em;
}

.category-name {
  text-align: center;
  text-transform: uppercase;
}

#categories {
  flex: 83%;
  margin-right: 2%;
  margin-top: 2em;
}

/*7.SIDEBAR*/

#sidebar {
  flex: 15%;
  margin-top: 2em;
}

#sidebar-nav {
  list-style: none;
  padding: 0;
}

#sidebar-nav li {
  font-family: Georgia;
  font-style: italic;
  color: #ed1c24;
  padding: 1em;
  border: 1px solid #ed1c24;
  border-radius: 10px;
  margin: 1em 0;
}

#sidebar-nav li:hover {
  background-color: #ed1c24;
  font-weight: normal;
  color: #ffffff;
}
#sidebar-nav a:hover{
   text-decoration: none;
}

/*8.FOOTER*/

#footer {
  background-color: #f3f3f3;
  border-top: 1px solid  #ed1c24;
  padding: 2em;
}

.icon-container {
  max-width: 30px;
  display: inline-block;
  margin-right: 1em;
}

#footer .icon-container:hover {
  max-width: 35px;
}

.social-media-text{
  margin-bottom: 1em;
}

#social-media-icons {
  flex: 50%;
}

#copyright-info {
  flex: 50%;
  text-align: right;
}

/*********Meal Plan******************/
.table-container {
  overflow-x: auto;
}

#month-select {
  width: 50%;
  margin-bottom: 1em;
}

#meal-plan-cal, .ingredients {
  border-spacing: 0;
  overflow-x: auto;
}

#meal-plan-cal th, td {
  border: 1px solid #000;

#meal-plan-cal th {
  text-align: center;
}

#meal-plan-cal td {
  padding: 1em 1em 3em 8em;
  text-align: right;
}

.planDay {
  background: lightyellow;
  cursor: pointer;
}

.ingredients th, td {
  border: 1px solid #000;
  padding: 1em 1em;
}

.plan-category {
  font-weight: bold;
  font-size: 1.5em;
}

#plan-info a {
  color: darkblue;
}

/*********Request Recipe******************/
.banner-content-request{
  font-family: Georgia;
  font-style: italic;
  font-size:calc(3vw + 3vh + 2vmin);
  color: #ed1c24;
  position:absolute;
  text-align: center;
  left: 50%;
  margin-left: -60px;
  top: 40%;
  margin-top: -60px;
  text-shadow: 1.5px 1.5px 1px #656565;
  width: auto;
}

#request-tbl table {
  color: #000000;
  border-collapse: collapse;
}

#request-tbl th,
#request-tbl td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #dddddd;
  border-top: none; border-left: none; border-right: none;
}
#request-tbl th{
  color: #ed1c24;
}

/*Create Request Recipe Modal*/
#create-modal-btn{
  margin: 2em;
}
#create-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 30%;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  /*background-color: rgba(0, 0, 0, 0.5);*/
}
.modal-content {
  background-color: #fefefe;
  margin: 40% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888888;
  width: 80%; /* Could be more or less, depending on screen size */
  animation-name: modalopen;
  animation-duration: 1s;
}
@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

/*********Admin Module******************/
#login{
  text-align: center;
  padding: 5em;
  margin: 5em 0px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*Image Uploader */
input[type=file]{
  display: inline;
}
#image_preview{
  border: 1px dashed gray;
  padding: 10px;
}
#image_preview img{
  width: 200px;
  padding: 5px;
}
.modal-dialog{
  max-width: 1200px;
}
.float-clear{clear:both;}
.float-left{float:left;}
#outer {margin: 0 auto;width: 50%;border-top: #333 2px solid;background-color: #FFFFFF;}
.product-item input[type="text"] {padding: 5px;border:#ccc 1px solid;border-radius:4px;margin: 0px 10px;}
.product-item input[type="checkbox"] {margin: 10px;}
.col-heading{width:150px;font-size:16px;font-weight:bold;}
.footer{padding:10px; background:#333;margin-top:20px;}
.btn-action{padding:10px;}
.btn-action input[type="button"]{padding:5px; border:#CCCCCC 1px solid; border-radius: 4px;}
input[type="submit"]{padding:5px 20px; border:#000000 1px solid; border-radius: 4px; background-color:#09f;color:#fff;}
.success{color:#66CC00;padding: 5px; font-weight:bold;}
